.polaroid p {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}
h2 {
    color: darkcyan;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color:darkcyan;
    font-family: fantasy;
    text-align: center;
}
.zenit p{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.Sony1 p{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.Sony2 p{
    font-family: Arial, Helvetica, sans-serif;

}
#sonyname {
    font-weight: bold;
}